<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./tests/api/bootstrap.php"
    backupGlobals="false"
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="true"
    stopOnFailure="true"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    strict="true">

    <testsuites>
        <testsuite name="UnitTests">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">./tests/api/unit</directory>
        </testsuite>
        <testsuite name="FunctionalTests">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">./tests/api/functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>apps</directory>
            <directory>lib/vendor/FabioCicerchia</directory>
        </whitelist>
        <blacklist>
            <directory>tests</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html"
             target="report/api/code_coverage"
             charset="UTF-8"
             yui="true"
             highlight="false"
             lowUpperBound="35"
             highLowerBound="70"/>
        <log type="testdox-html" target="report/api/testdox/testdox.html" />
        <log type="testdox-text" target="report/api/testdox/testdox.txt" />
    </logging>
</phpunit>
