[% USE date %]
[% USE String %]

<section id="education">
    <div class="page-header">
        <h2>Education</h2> <!-- TODO: DYNAMIC VALUE -->
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            [% closed = 1 %]
            [% FOREACH entity IN data.education.entity %]
            [% IF loop.index mod 2 == 0 %]<div class="row-fluid">[% closed = 0 %][% END %]
            [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="span6 education vevent" id="[% id_title %]_[% id_company %]">
                <h3 class="summary" itemprop="name">[% entity.title.content %]</h3>
                <div class="dates">
                    [% start = entity.published | replace('T', ' ') | replace('Z', '') %]
                    <span class="dtstart">[% date.format(start, "%a, %d %b %Y") %]</span>
                    [% IF entity.updated && entity.updated != entity.published %]
                    [% end = entity.updated | replace('T', ' ') | replace('Z', '') %]
                    <span class="dtend">[% date.format(end, "%a, %d %b %Y") %]</span>
                    [% END %]
                </div>
                <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                    <a class="url" itemprop="url" target="_blank" href="[% entity.content.company.link.href %]" rel="nofollow" title="[% entity.content.company.title.content %]"><span class="fn" itemprop="name">[% entity.content.company.title.content %]</span></a>
                </div>
                <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                    <dt itemprop="name">Activities</dt><!-- TODO: DYNAMIC VALUE -->
                    [% FOREACH activity = entity.content.activities %]
                    <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">[% activity %]</li>
                    [% END %]
                </dl>
            </div>
            [% IF loop.count mod 2 == 0 %]</div>[% closed = 1 %][% END %]
            [% END %]
            [% IF closed == 0 %]</div>[% END %]
        </div>
    </div>
</section>
