[% USE date %]

<section id="education">
    <div class="page-header">
        <!-- TODO: I18N -->
        <h2>Education</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            [% FOREACH entity IN data.education.entity %]
            [% IF loop.index mod 2 == 0 %]<div class="row-fluid">[% END %]
            <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="span6 education vevent">
                <h3 class="summary" itemprop="name">[% entity.title.content %]</h3>
                <div class="dates">
                    <!-- TODO: ADD dtend -->
                    <!-- TODO: ADD date.format(, "%a, %d %b %Y %H:%M:%S GMT") -->
                    <span class="dtstart">[% entity.published %]</span>
                </div>
                <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                    <a class="url" itemprop="url" target="_blank" href="[% entity.content.company.link.href %]" rel="nofollow" title="[% entity.content.company.title.content %]"><span class="fn" itemprop="name">[% entity.content.company.title.content %]</span></a>
                </div>
                <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                    <!-- TODO: I18N -->
                    <dt itemprop="name">Activities</dt>
                    [% FOREACH activity = entity.content.activities %]
                    <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">[% activity %]</li>
                    [% END %]
                </dl>
            </div>
            [% IF loop.count mod 2 == 0 %]</div>[% END %]
            [% END %]
            [% IF loop.count mod 2 == 0 %]</div>[% END %] <!-- TODO: CHANGE THIS -->
        </div>
    </div>
</section>
