[% USE date %]
[% today_date = date.format(date.now, "%a, %d %b %Y") %]
<!-- TODO: Sort attribute -->
<section id="experience">
    <div class="page-header">
        <h2>[% FILTER gettext %]Experience[% END %]</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            [% FOREACH entity = data.experience.entity %]
            [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="span12 experience vevent" id="[% id_title %]_[% id_company %]">
                <div class="page-header">
                    <h3 class="summary">
                        <i class="icon-briefcase"></i>
                        [% entity.title.content %]
                    </h3>
                </div>
                <!-- TODO: Refactor Extract -->
                <div class="dates">
                    [% start = entity.published | replace('T', ' ') | replace('Z', '') %]
                    <span class="dtstart">[% date.format(date.manip.UnixDate(start _ " GMT", "%s"), "%a, %d %b %Y") %]</span>
                    [% IF entity.updated && entity.updated != entity.published %]
                    [% end = entity.updated | replace('T', ' ') | replace('Z', '') %]
                    [% end_date = date.format(date.manip.UnixDate(end _ " GMT", "%s"), "%a, %d %b %Y") %]
                    [% IF end_date == today_date %]
                    <span class="dtend">[% FILTER gettext %]Today[% END %]</span>
                    [% ELSE %]
                    <span class="dtend">[% end_date %]</span>
                    [% END %]
                    [% END %]
                </div>
                <!-- TODO: End Refactor Extract -->
                <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                    <a class="url" itemprop="url" target="_blank" href="[% entity.content.company.link.href %]" rel="nofollow" title="[% entity.content.company.title.content %]">
                        <span class="fn" itemprop="name">
                            [% entity.content.company.title.content %]
                        </span>
                    </a>

                    <!-- TODO: Refactor Extract -->
                    <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                        [% IF entity.content.company.address.postalcode %]
                        <span class="postal-code" itemprop="postalCode">
                            [% entity.content.company.address.postalcode %]
                        </span>
                        [% END %]
                        [% IF entity.content.company.address.city %]
                        <span class="locality" itemprop="addressLocality">
                            [% entity.content.company.address.city %]
                        </span>
                        [% END %]
                        [% IF entity.content.company.address.country %]
                        <span class="country-name" itemprop="addressCountry">
                            [% entity.content.company.address.country %]
                        </span>
                        [% END %]
                    </address>
                    <!-- TODO: End Refactor Extract -->
                </div>
                [% IF entity.content.description or entity.content.activities or entity.content.projects or entity.content.methodologies or entity.content.technologies or entity.content.tools or entity.content.techniques %]
                <a href="#" class="show_hide">&raquo; [% FILTER gettext %]Show more ...[% END %]</a>
                <div class="hide">
                    [% IF entity.content.description %]
                    <div itemprop="description">
                        <p>[% entity.content.description %]</p>
                    </div>
                    [% END %]
                    <!-- TODO: Refactor Extract -->
                    [% IF entity.content.activities.size %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% FILTER gettext %]Activities[% END %]</dt>
                        [% FOREACH activity = entity.content.activities %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                            [% activity %]
                        </dd>
                        [% END %]
                    </dl>
                    [% END %]
                    <!-- TODO: End Refactor Extract -->
                    [% IF entity.content.projects.size %]
                    <div class="accordion" id="accordion[% current_id %]">
                        [% FOREACH project IN entity.content.projects %]
                        [% current_id = project.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a href="#collapse[% current_id %]" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion[% current_id %]">
                                    <span itemprop="name">[% project.title.content %]</span>
                                </a>
                            </div>
                            <div id="collapse[% current_id %]" class="accordion-body collapse">
                                <span class="role">[% project.role.content %]</span>
                                [% IF entity.content.description %]
                                <div itemprop="description">
                                    <p>[% entity.content.description %]</p>
                                </div>
                                [% END %]
                                [% start = project.date.start | replace('T', ' ') | replace('Z', '') %]
                                <span class="dtstart">
                                    [% date.format(manip.UnixDate(start _ " GMT", "%s"), "%a, %d %b %Y") %]
                                </span>
                                [% IF project.date.end && project.date.end != project.date.start %]
                                [% end = project.date.end | replace('T', ' ') | replace('Z', '') %]
                                <span class="dtend">
                                    [% date.format(manip.UnixDate(end _ " GMT", "%s"), "%a, %d %b %Y") %]
                                </span>
                                [% END %]
                                [% IF project.link %]
                                    <a itemprop="url" target="_blank" href="[% project.link.href %]" rel="nofollow" title="The URL of the [% project.title.content %]">
                                        [% project.link.href %]
                                    </a>
                                [% END %]
                                <!-- TODO: Refactor Extract -->
                                [% IF project.methodologies.size %]
                                <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                                    <dt itemprop="name">[% FILTER gettext %]Methodologies[% END %]</dt>
                                    [% FOREACH methodology IN project.methodologies %]
                                    <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                                        [% methodology %]
                                    </dd>
                                    [% END %]
                                </dl>
                                [% END %]
                                <!-- TODO: End Refactor Extract -->
                                <!-- TODO: Refactor Extract -->
                                [% IF project.technologies.size %]
                                <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                                    <dt itemprop="name">[% FILTER gettext %]Technologies[% END %]</dt>
                                    [% FOREACH technology IN project.technologies %]
                                    <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                                        [% technology %]
                                    </dd>
                                    [% END %]
                                </dl>
                                [% END %]
                                <!-- TODO: End Refactor Extract -->
                                <!-- TODO: Refactor Extract -->
                                [% IF project.tools.size %]
                                <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                                    <dt itemprop="name">[% FILTER gettext %]Tools[% END %]</dt>
                                    [% FOREACH tool IN project.tools %]
                                    <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                                        [% tool %]
                                    </dd>
                                    [% END %]
                                </dl>
                                [% END %]
                                <!-- TODO: End Refactor Extract -->
                                <!-- TODO: Refactor Extract -->
                                [% IF entity.content.techniques.size %]
                                <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                                    <dt itemprop="name">[% FILTER gettext %]Techniques[% END %]</dt>
                                    [% FOREACH technique IN entity.content.techniques %]
                                    <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                                        [% technique %]
                                    </dd>
                                    [% END %]
                                </dl>
                                [% END %]
                                <!-- TODO: End Refactor Extract -->
                            </div>
                        </div>
                        [% END %]
                    </div>
                    [% END %]
                    <!-- TODO: Refactor Extract -->
                    [% IF entity.content.methodologies.size %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% FILTER gettext %]Methodologies[% END %]</dt>
                        [% FOREACH methodology IN entity.content.methodologies %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                            [% methodology %]
                        </dd>
                        [% END %]
                    </dl>
                    [% END %]
                    <!-- TODO: End Refactor Extract -->
                    <!-- TODO: Refactor Extract -->
                    [% IF entity.content.technologies.size %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% FILTER gettext %]Technologies[% END %]</dt>
                        [% FOREACH technology IN entity.content.technologies %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                            [% technology %]
                        </dd>
                        [% END %]
                    </dl>
                    [% END %]
                    <!-- TODO: End Refactor Extract -->
                    <!-- TODO: Refactor Extract -->
                    [% IF entity.content.tools.size %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% FILTER gettext %]Tools[% END %]</dt>
                        [% FOREACH tool IN entity.content.tools %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                            [% tool %]
                        </dd>
                        [% END %]
                    </dl>
                    [% END %]
                    <!-- TODO: End Refactor Extract -->
                    <!-- TODO: Refactor Extract -->
                    [% IF entity.content.techniques.size %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% FILTER gettext %]Techniques[% END %]</dt>
                        [% FOREACH technique IN entity.content.techniques %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">
                            [% technique %]
                        </dd>
                        [% END %]
                    </dl>
                    [% END %]
                    <!-- TODO: End Refactor Extract -->
                </div>
                [% END %]
            </div>
            [% END %]
        </div>
    </div>
</section>
