[% USE date %]
[% today_date = date.format(date.now, "%a, %d %b %Y") %]
<section id="experience">
    <div class="page-header">
        <h2>[% FILTER gettext %]Experience[% END %]</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            [% FOREACH entity = data.experience.entity %]
            [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            <div class="span12 experience vevent" id="[% id_title %]_[% id_company %]" itemscope="itemscope" itemtype="http://schema.org/BusinessEvent">
                <div class="page-header">
                    <h3 class="summary">
                        <i class="icon-briefcase"></i>
                        [% entity.title.content %]
                    </h3>
                </div>
                [% INCLUDE partials/date.tmpl %]
                <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                    <a class="url" href="[% entity.content.company.link.href %]" itemprop="url" rel="nofollow" target="_blank" title="[% entity.content.company.title.content %]">
                        <span class="fn" itemprop="name">
                            [% entity.content.company.title.content %]
                        </span>
                    </a>

                    [% INCLUDE partials/address.tmpl %]
                </div>
                [% IF entity.content.description or entity.content.activities or entity.content.projects or entity.content.methodologies or entity.content.technologies or entity.content.tools or entity.content.techniques %]
                <a class="show_hide" href="#">&raquo; [% FILTER gettext %]Show more ...[% END %]</a>
                <div class="hide">
                    [% IF entity.content.description %]
                    <div itemprop="description">
                        <p>[% entity.content.description %]</p>
                    </div>
                    [% END %]
                    [% INCLUDE partials/activities.tmpl %]
                    [% IF entity.content.projects.size %]
                    <div class="accordion" id="accordion[% current_id %]">
                        [% FOREACH project IN entity.content.projects %]
                        [% current_id = project.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-parent="#accordion[% current_id %]" data-toggle="collapse" href="#collapse[% current_id %]">
                                    <span itemprop="name">[% project.title.content %]</span>
                                </a>
                            </div>
                            <div class="accordion-body collapse" id="collapse[% current_id %]">
                                <span class="role">[% project.role.content %]</span>
                                [% IF entity.content.description %]
                                <div itemprop="description">
                                    <p>[% entity.content.description %]</p>
                                </div>
                                [% END %]
                                [% start = project.date.start | replace('T', ' ') | replace('Z', '') %]
                                <span class="dtstart">
                                    [% date.format(manip.UnixDate(start _ " GMT", "%s"), "%a, %d %b %Y") %]
                                </span>
                                [% IF project.date.end && project.date.end != project.date.start %]
                                [% end = project.date.end | replace('T', ' ') | replace('Z', '') %]
                                <span class="dtend">
                                    [% date.format(manip.UnixDate(end _ " GMT", "%s"), "%a, %d %b %Y") %]
                                </span>
                                [% END %]
                                [% IF project.link %]
                                    <a href="[% project.link.href %]" itemprop="url" rel="nofollow" target="_blank" title="The URL of the [% project.title.content %]">
                                        [% project.link.href %]
                                    </a>
                                [% END %]
                                [% INCLUDE partials/methodologies.tmpl input = project %]
                                [% INCLUDE partials/technologies.tmpl input = project %]
                                [% INCLUDE partials/tools.tmpl input = project %]
                                [% INCLUDE partials/techniques.tmpl input = project %]
                            </div>
                        </div>
                        [% END %]
                    </div>
                    [% END %]
                    [% INCLUDE partials/methodologies.tmpl input = entity %]
                    [% INCLUDE partials/technologies.tmpl input = entity %]
                    [% INCLUDE partials/tools.tmpl input = entity %]
                    [% INCLUDE partials/techniques.tmpl input = entity %]
                </div>
                [% END %]
            </div>
            [% END %]
        </div>
    </div>
</section>
