<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<base href="http://[% HTTP_HOST %]" />
<link rel="home" href="http://[% HTTP_HOST %]" />
<link href="http://microformats.org/profile/hcalendar" rel="profile" />
<link href="http://microformats.org/profile/hcard" rel="profile" />
<link href="http://microformats.org/profile/hresume" rel="profile" />
<link href="https://plus.google.com/110733047203682160091" rel="author" title="Fabio Cicerchia on Google+" />
<link href="/humans.txt" rel="author" type="text/plain" />
<link href="/media/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/media/css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/media/css/main.css" rel="stylesheet">
[% FOREACH entity IN data.language.entity %]
<link href="/[% IF entity.content.code.short != "en" %][% entity.content.code.short %][% END %]" hreflang="[% entity.content.code.short %]" rel="alternate" title="[% entity.title.content %]" />
[% END %]
[% FOREACH entity IN data.language.entity %]
<link href="/[% IF entity.content.code.short != "en" %][% entity.content.code.short %]/[% END %]atom" hreflang="[% entity.content.code.short %]" rel="alternate" title="Feed ATOM ([% entity.title.content %])" type="application/atom+xml" />
[% END %]
[% FOREACH entity IN data.language.entity %]
<link href="/[% IF entity.content.code.short != "en" %][% entity.content.code.short %]/[% END %]rss091" hreflang="[% entity.content.code.short %]" rel="alternate" title="Feed RSS 0.91 ([% entity.title.content %])" type="application/rss+xml" />
[% END %]
[% FOREACH entity IN data.language.entity %]
<link href="/[% IF entity.content.code.short != "en" %][% entity.content.code.short %]/[% END %]rss092" hreflang="[% entity.content.code.short %]" rel="alternate" title="Feed RSS 0.92 ([% entity.title.content %])" type="application/rss+xml" />
[% END %]
[% FOREACH entity IN data.language.entity %]
<link href="/[% IF entity.content.code.short != "en" %][% entity.content.code.short %]/[% END %]rss1" hreflang="[% entity.content.code.short %]" rel="alternate" title="Feed RSS 1.0 ([% entity.title.content %])" type="application/rss+xml" />
[% END %]
[% FOREACH entity IN data.language.entity %]
<link href="/[% IF entity.content.code.short != "en" %][% entity.content.code.short %]/[% END %]rss2" hreflang="[% entity.content.code.short %]" rel="alternate" title="Feed RSS 2.0 ([% entity.title.content %])" type="application/rss+xml" />
[% END %]
<meta name="dcterms.creator" content="Fabio Cicerchia" />
<meta content="[% data.information.entity.0.summary.content | replace("\n", " ") | replace("[.].*", ".") %]" name="dcterms.description" />
<meta content="[% language %]" name="dcterms.language" />
<meta content="Curriculum Vitae" name="dcterms.subject" />
<meta name="dcterms.title" content="Fabio Cicerchia - [% data.information.entity.0.content.role %]" />
<meta content="[% data.information.entity.0.summary.content | replace("\n", " ") | replace("[.].*", ".") %]" name="description" />
<meta name="geo.placename" content="[% data.information.entity.0.content.address.city.content %]" />
<!--meta content="41.825;12.890" name="geo.position" /-->
<meta content="[% data.information.entity.0.location.country_code %]" name="geo.country" />
<meta content="certified, web, developer, iwa, ciw, zend, php, mysql" name="keywords" /><!-- TODO: DYNAMIC VALUE -->
<!--meta content="41.825, 12.890" name="ICBM" /-->
<meta content="nofollow" name="robots" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>Fabio Cicerchia - [% data.information.entity.0.content.role %]</title>
