<header class="jumbotron subhead vcard" itemscope="itemscope" itemtype="http://schema.org/Person" id="hcard-Fabio-Cicerchia">
    <img src="/media/images/logo_new.png" />
    <h1 class="fn n" itemprop="name">
        <span lang="it" class="given-name">Fabio</span>
        <span lang="it" class="family-name">Cicerchia</span>
    </h1>
    <p class="lead role" itemprop="jobTitle">
        [% data.information.entity.0.content.role %]
    </p>
    <ul>
        <li>
            <span itemprop="nationality">
                <i class="icon-flag"></i>
                [% data.information.entity.0.content.nationality %]
            </span>
        </li>
        <li>
            <span itemprop="gender">
                <i class="icon-user"></i>
                [% data.information.entity.0.content.gender %]
            </span>
        </li>
        [% time = data.information.entity.0.content.birthday | trim | replace('T', ' ') | replace('Z', '') %]
        <li>
            <time class="bday" itemprop="birthDate" datetime="[% time %]">
                <i class="icon-calendar"></i>
                [% date.format(time, "%d %B %Y") %]
            </time>
        </li>
        <li>
            <span class="tel" itemprop="telephone">
                <i class="icon-signal"></i>
                [% data.information.entity.0.content.telephone %]
            </span>
        </li>
        <li>
            <a class="url" itemprop="url" target="_blank" href="http://[% HTTP_HOST %]" rel="nofollow me" title="">
                <i class="icon-globe"></i>
                http://[% HTTP_HOST %]
                <span class="nw"></span>
            </a>
        </li>
        <li>
            <a class="email" itemprop="email" href="mailto:[% data.information.entity.0.content.contacts.email %]" rel="nofollow me" title="The my email address">
                <i class="icon-envelope"></i>
                [% data.information.entity.0.content.contacts.email %]
            </a>
        </li>
    </ul>
    <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
        <i class="icon-home"></i>
        <span class="postal-code" itemprop="postalCode"></span><!-- TODO: Convert to a dynamic value. -->
        <span class="locality" itemprop="addressLocality">
            [% data.information.entity.0.content.address.city %]
        </span>
        <span class="country-name" itemprop="addressCountry">
            [% data.information.entity.0.content.address.country %]
        </span>
    </address>
    <div class="subnav">
        <ul class="nav nav-pills" itemscope="itemscope" itemtype="http://schema.org/ItemList">
            <li class="brand">Fabio Cicerchia</li>
            <li itemprop="itemListElement">
                <a accesskey="s" href="#summary" title="[% FILTER gettext %]Summary[% END %]">
                    <i class="icon-bullhorn"></i>
                    [% FILTER gettext %]Summary[% END %]
                </a>
            </li>
            <li itemprop="itemListElement">
                <a accesskey="k" href="#skills" title="[% FILTER gettext %]Skills[% END %]">
                    <i class="icon-tasks"></i>
                    [% FILTER gettext %]Skills[% END %]
                </a>
            </li>
            <li itemprop="itemListElement">
                <a accesskey="e" href="#education" title="[% FILTER gettext %]Education[% END %]">
                    <i class="icon-book"></i>
                    [% FILTER gettext %]Education[% END %]
                </a>
            </li>
            <li itemprop="itemListElement">
                <a accesskey="x" href="#experience" title="[% FILTER gettext %]Experience[% END %]">
                    <i class="icon-briefcase"></i>
                    [% FILTER gettext %]Experience[% END %]
                </a>
            </li>
            <li itemprop="itemListElement">
                <a accesskey="l" href="#languages" title="[% FILTER gettext %]Languages[% END %]">
                    <i class="icon-flag"></i>
                    [% FILTER gettext %]Languages[% END %]
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    [% FILTER gettext %]Switch Language[% END %]
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Italiano</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
