<div id="header">
    <div class="vcard" id="hcard-Fabio-Cicerchia">
        <!--img class="photo" height="475" width="180" alt="A photograph of Fabio Cicerchia in black and white" src="/media/images/me.jpg" /-->
        <!--ul class="flags">
            <li class="first"><a class="en" href="/" title="Translate to English">Translate to English</a></li>
            <li class="last"><a class="it" href="/it" title="Traduci in Italiano">Traduci in Italiano</a></li>
        </ul-->
        <h1><a class="fn n" href="http://[% HTTP_HOST %]" title="The URL of my web site"><span class="given-name" lang="it" xml:lang="it">Fabio</span> <span class="family-name" lang="it" xml:lang="it">Cicerchia</span> -
        <span class="role">Web Developer</span></a></h1>
        <address class="adr">
            <span class="locality">London</span> <span class="country-name">UK</span>
        </address>
        <ul>
            <li><span class="nationality">Italian</span></li>
            <li><span class="gender">Male</span></li>
            <li><span class="bday">1986-02-09</span></li>
            <li><span class="tel">+44 07831192297</span></li>
            <li><a class="url _blank" href="http://[% HTTP_HOST %]" rel="nofollow me" title="">http://[% HTTP_HOST %]</a></li>
            <li class="last">
                <ul class="social">
                    <li class="first"><a class="email" href="mailto:info@fabiocicerchia.it" rel="nofollow me" title="The my email address">Email: info@fabiocicerchia.it</a></li>
                    <li><a class="my_vcard" href="/vcard" title="Download the vCard format">vCard</a></li>
                    <li><a class="print" href="/print" title="Print this document">Print</a></li>
                    <li><a class="_blank facebook" href="https://www.facebook.com/fabio.cicerchia" title="Facebook">Facebook</a></li>
                    <li><a class="_blank linkedin" href="http://www.linkedin.com/in/fabiocicerchia" title="LinkedIn">LinkedIn</a></li>
                    <li><a class="_blank msn_messenger" href="msnim:chat?contact=fabio.cicerchia@live.it" title="MSN Messenger">MSN Messenger</a></li>
                    <li><a class="_blank skype" href="skype:fabio.cicerchia?call" title="Skype">Skype</a></li>
                    <li class="last"><a class="help" href="#" title="Some informations...">?</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
