<div id="info">
    <h2>Some informations...</h2>
    <dl>
        <dt>PAGE GENERATION</dt>
        <dd class="last"><a class="_blank" href="http://www.php.net" title="PHP: Hypertext Preprocessor">PHP 5.3.8</a></dd>
    </dl>
    <dl>
        <dt>MAIN OUTPUT FORMAT</dt>
        <dd class="last"><a class="_blank" href="http://www.w3.org/XML" title="Extensible Markup Language (XML)">XML</a></dd>
    </dl>
    <dl>
        <dt>STYLESHEETS</dt>
        <dd><a class="_blank" href="http://www.w3.org/TR/CSS" title="Cascading Style Sheets (CSS) Snapshot 2010">CSS 3</a></dd>
        <dd class="last"><a class="_blank" href="http://www.w3.org/TR/css-mobile" title="CSS Mobile Profile 2.0">CSS Mobile Profile 2.0</a></dd>
    </dl>
    <dl>
        <dt>VISUAL EFFECTS</dt>
        <dd>JavaScript</dd>
        <dd class="last"><a class="_blank" href="http://jquery.com" title="jQuery: The Write Less, Do More, JavaScript Library">jQuery</a></dd>
    </dl>
    <dl>
        <dt>ELABORATED OUTPUT FORMATS</dt>
        <dd><a class="_blank" href="http://www.w3.org/TR/html5" title="HTML5">HTML 5</a></dd>
        <dd><a class="_blank" href="http://www.imc.org/pdi/vcard-21.txt" title="The Electronic Business Card">vCard 2.1</a></dd>
        <dd><a class="_blank" href="http://www.w3.org/TR/xhtml-basic" title="XHTML™ Basic 1.1 - Second Edition">XHTML Basic 1.1</a></dd>
        <dd><a class="_blank" href="http://www.w3.org/TR/xhtml1" title="XHTML™ 1.0 The Extensible HyperText Markup Language (Second Edition)">XHTML 1.0</a></dd>
        <dd><a class="_blank" href="http://www.ietf.org/rfc/rfc4287.txt" title="The Atom Syndication Format">ATOM</a></dd>
        <dd class="last">RSS (<a class="_blank" href="http://backend.userland.com/rss091" title="RSS 0.91">0.91</a>, <a class="_blank" href="http://backend.userland.com/rss092" title="RSS 0.92">0.92</a>, <a class="_blank" href="http://web.resource.org/rss/1.0/spec" title="RDF Site Summary (RSS) 1.0">1.0</a>, <a class="_blank" href="http://cyber.law.harvard.edu/rss/rss.html" title="RSS 2.0 Specification (RSS 2.0 at Harvard Law)">2.0</a>)</dd>
    </dl>
    <dl>
        <dt>WEB SEMANTICS</dt>
        <dd><a class="_blank" href="http://dublincore.org" title="DCMI Home: Dublin Core® Metadata Initiative (DCMI)">Dublin Core</a></dd>
        <dd>GeoURL</dd>
        <dd><a class="_blank" href="http://www.w3.org/TR/microdata" title="HTML Microdata">Microdata</a></dd>
        <dd><a class="_blank" href="http://microformats.org">Microformats</a> (<a href="http://microformats.org/wiki/hcalendar" class="_blank" title="hCalendar 1.0 · Microformats Wiki">hCalendar</a>, <a href="http://microformats.org/wiki/hcard" class="_blank" title="hCard 1.0 · Microformats Wiki">hCard</a>, <a href="http://microformats.org/wiki/hresume" class="_blank" title="hResume · Microformats Wiki">hResume</a>, <a href="http://microformats.org/wiki/rel-nofollow" class="_blank" title="rel=&quot;home&quot; · Microformats Wiki">rel-home</a>, <a href="http://microformats.org/wiki/rel-nofollow" class="_blank" title="rel=&quot;nofollow&quot; · Microformats Wiki">rel-nofollow</a>)</dd>
        <dd class="last"><a class="_blank" href="http://gmpg.org/xfn" title="XFN - XHTML Friends Network">XFN</a></dd>
    </dl>
    <dl>
        <dt>OPTIMIZATION</dt>
        <dd>Accessibility</dd>
        <dd>Page Load</dd>
        <dd class="last">SEO</dd>
    </dl>
    <dl>
        <dt>OTHER TECHNLOGIES</dt>
        <dd><a class="_blank" href="http://www.w3.org/TR/xmlbase" title="XML Base (Second Edition)">XML Base</a></dd>
        <dd><a class="_blank" href="http://www.w3.org/TR/xpath" title="XML Path Language (XPath)">XPath 1.0</a></dd>
        <dd class="last"><a class="_blank" href="http://www.w3.org/TR/xslt" title="XSL Transformations (XSLT)">XSLT 1.0</a></dd>
    </dl>
    <dl>
        <dt>VALIDATION</dt>
        <dd>Accessibility (<a class="_blank" href="http://www.section508.gov" title="Section 508">Section 508</a>, <a href="http://www.pubbliaccesso.gov.it/normative/law_20040109_n4.htm" class="_blank" title="PubbliAccesso - Normative - Law n. 4, January 9, 2004">Stanca Act</a>, <a href="http://www.w3.org/TR/WCAG10/" class="_blank" title="Web Content Accessibility Guidelines 1.0">WCAG 1.0</a>, <a href="http://www.w3.org/TR/WCAG/" class="_blank" title="Web Content Accessibility Guidelines (WCAG) 2.0">WCAG 2.0</a>)</dd>
        <dd>CSS Mobile</dd>
        <dd>HTML 5</dd>
        <dd>Links</dd>
        <dd>Page Load (<a class="_blank" href="http://developer.yahoo.com/yslow" title="Yahoo! YSlow for Firefox">YSlow</a>, <a href="http://code.google.com/speed/page-speed/" class="_blank" title="Page Speed Home">Page Speed</a>)</dd>
        <dd>XHTML 1.0 Strict</dd>
        <dd class="last">XHTML Basic 1.0</dd>
    </dl>
    <dl>
        <dt>BROWSER TESTED</dt>
        <dd><a class="_blank" href="http://www.google.com/chrome" title="Google Chrome">Google Chrome</a></dd>
        <dd><a class="_blank" href="http://www.mozilla.org/firefox" title="Mozilla Firefox">Mozilla Firefox</a></dd>
        <dd><a class="_blank" href="http://www.seamonkey-project.org" title="The SeaMonkey® Project">Mozilla Seamonkey</a></dd>
        <dd><a class="_blank" href="http://windows.microsoft.com/en-GB/internet-explorer/products/ie/home" title="Internet Explorer - Web Browser for Windows (UK)">Internet Explorer</a> (7, 8, 9)</dd>
        <dd><a class="_blank" href="http://www.apple.com/safari" title="Apple - Safari - Browse the web in smarter, more powerful ways.">Safari</a></dd>
        <dd><a class="_blank" href="http://lynx.isc.org" title="Lynx source distribution directory">Lynx</a></dd>
        <dd class="last"><a class="_blank" href="http://www.opera.com" title="Opera browser | Faster &amp; safer internet | Free download">Opera</a></dd>
    </dl>
    <dl>
        <dt>OS TESTED</dt>
        <dd><a class="_blank" href="http://www.linux-foundation.org" title="The Linux Foundation">Linux</a> (<a href="http://www.ubuntu.com/" class="_blank" title="Homepage | Ubuntu">Ubuntu</a>)</dd>
        <dd class="last"><a class="_blank" href="http://windows.microsoft.com" title="Home Windows - Microsoft Windows">Microsoft Windows</a></dd>
    </dl>
</div>
