<section id="languages">
    <div class="page-header">
        <!-- TODO: I18N -->
        <h2>Languages</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            <div class="row-fluid">
                <div class="span6" itemscope="itemscope" itemtype="http://schema.org/Language">
                    <h3 class="summary" itemprop="name">Italian</h3>
                    <p itemprop="description">Mother Tongue</p>
                </div>
                <div class="span6" itemscope="itemscope" itemtype="http://schema.org/Language">
                    <h3 class="summary" itemprop="name">English</h3>
                    <p itemprop="description">
                        <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                            <li itemprop="itemListElement">Listening: A2</li>
                            <li itemprop="itemListElement">Reading: B1</li>
                            <li itemprop="itemListElement">Spoken interaction: A2</li>
                            <li itemprop="itemListElement">Spoken production: A2</li>
                            <li itemprop="itemListElement" class="last">Writing: A2</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
