<section id="languages">
    <div class="page-header">
        <!-- TODO: I18N -->
        <h2>Languages</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            <div class="row-fluid">
            <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="span12 experience vevent">
                [% FOREACH entity IN data.language.entity %]
                <div class="span6" itemscope="itemscope" itemtype="http://schema.org/Language">
                    <h3 class="summary" itemprop="name">[% entity.title.content %]</h3>
                    [% IF entity.content.skills.0.level == "C2" %]
                    <p itemprop="description">Mother Tongue</p>
                    [% ELSE %]
                    <p itemprop="description">
                        <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                            [% FOREACH skill IN entity.content.skills %]
                            <li itemprop="itemListElement">[% skill.title.content %]: [% skill.level %]</li>
                            [% END %]
                        </ul>
                    </p>
                    [% END %]
                </div>
                [% END %]
            </div>
        </div>
    </div>
</section>
