<section id="skills">
    <div class="page-header">
        <h2>[% FILTER gettext %]Skills[% END %]</h2>
    </div>

    <div class="row">
        <div class="wordcloud" id="wordcloud">
            [% FOREACH skill = data.skill.entity %]
            [% FOREACH item = skill.content.skills %]
            <span data-weight="[% item.months | replace('[\n ]', '') %]" title="[% FILTER gettext %][% item.level | replace('[\n ]', '') %] proficiency[% END %]">[% item.title.content %]</span>
            [% END %]
            [% END %]
        </div>
    </div>
</section>