<section id="skills">
    <div class="page-header">
        <!-- TODO: I18N -->
        <h2>Skills</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            [% FOREACH skill = data.skill.entity %]
            [% IF loop.index mod 3 == 0 %]<div class="row-fluid">[% END %]
                <div class="span4">
                    <h3>[% skill.title.content %]</h3>
                    [% FOREACH item = skill.content.skills %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% item.key %]</dt>
                        [% FOREACH subitem = item.value.sort %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">[% subitem %]</dd>
                        [% END %]
                    </dl>
                    [% END %]
                </div>
            [% IF loop.count mod 3 == 0 %]</div>[% END %]
            [% END %]
            [% IF loop.count mod 3 == 0 %]</div>[% END %]
        </div>
    </div>
</section>
