<section id="skills">
    <div class="page-header">
        <!-- TODO: I18N -->
        <h2>Skills</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            [% closed = 1 %]
            [% FOREACH skill = data.skill.entity %]
            [% IF loop.index mod 2 == 0 %]<div class="row-fluid">[% closed = 0 %][% END %]
                [% id_title = skill.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                <div class="span6" id="[% id_title %]">
                    <h3>[% skill.title.content %]</h3>
                    [% FOREACH item = skill.content.skills %]
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <dt itemprop="name">[% item.key %]</dt>
                        [% FOREACH subitem = item.value.sort %]
                        <dd[% " class=\"last\"" IF loop.last %] itemprop="itemListElement">[% subitem %]</dd>
                        [% END %]
                    </dl>
                    [% END %]
                </div>
            [% IF loop.count mod 2 == 0 %]</div>[% closed = 1 %][% END %]
            [% END %]
            [% IF closed == 0 %]</div>[% END %]
        </div>
    </div>
</section>
