<section id="summary">
    <div class="page-header">
        <h2>Summary</h2>
    </div>

    <div class="row">
        <div class="span12">
            <p>
                I'm a <em>passionate</em> Web Developer and a security maniac, always looking for new <em>challenges</em> and a
                never-ending <em>know-how</em>. Since 2003 I've always been focused on <em>PHP</em> and <em>JS</em> applications and I
                found the time to certificate myself as a <em>PHP 5 Engineer</em>, <em>CIW Application Developer</em> and <em>IWA
                Web Professional</em>; apart from these, I never forgot the basics: I'm an expert using <em>bash</em> and writing complex
                <em>Regular Expressions</em>. I'm interested and involved also on <em>SEO</em>, <em>Accessibility</em> and <em>Project
                Management</em>. Lately I'm mainly focused on in-depth study of <em>MongoDB</em>, <em>Node.js</em> and
                <em>Python</em>.
            </p>
            <p>
                In the last years I've been daily committed on projects with the RAD framework <em>Symfony</em>, using practices like
                automated tests and always trying to use <em>bleeding edge technologies and methods</em> for my work. I also have
                on-the-battlefield experience about agile development, as, in DNSEE, we implemented some of the <em>agile techniques</em>
                (iteration planning, test-first, collective code ownership and so on).
            </p>
            <p>
                For passion, curiosity and interest I've created Bonzai (formerly known as phpGuardian), an open-source tool for
                encoding the PHP projects.
            </p>
          
            <dl class="main_works">
                <dt>Main projects developed</dt>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage">
                    <del itemprop="name">Evidenziati</del> <del>(<abbr title="Development">Dev</abbr>)</del>
                </dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Bonzai</span> (<abbr title="Development">Dev</abbr> &amp; <abbr title="Project Management">PM</abbr>) <a itemprop="url" target="_blank" href="http://www.bonzai-project.org" rel="nofollow" title="The URL of the the Bonzai">http://www.bonzai-project.org</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Policlinic Campus Biomedical of Rome</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.policlinicocampusbiomedico.it" rel="nofollow met" title="The URL of the the Policlinic Campus Biomedical of Rome">http://www.policlinicocampusbiomedico.it</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">San Raffaele</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.sanraffaele.it" rel="nofollow met" title="The URL of the the San Raffaele">http://www.sanraffaele.it</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Network NanoPublishing</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.nanopub.com" rel="nofollow" title="The URL of the the Network NanoPublishing">http://www.nanopub.com</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Excite Network Europe</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.excite.it" rel="nofollow" title="The URL of the the Excite Network Europe">http://www.excite.it</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage">
                    <del itemprop="name">StockInformatica</del>
                    <del>(<abbr title="Development">Dev</abbr> &amp;
                    <abbr title="Project Management">PM</abbr>)</del>
                </dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage" class="last">
                    <del itemprop="name">ItalianCamper</del>
                    <del>(<abbr title="Development">Dev</abbr>)</del>
                </dd>
            </dl>
        </div>
    </div>
</section>
