[% USE date %]

<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <id>http://[% HTTP_HOST %]/</id>
    <title>Fabio Cicerchia - [% data.information.entity.0.content.role %]</title>
    <link href="http://[% HTTP_HOST %]" />
    <updated>[% date.format(last_modified, "%Y-%m-%dT%H:%M:%SZ") %]</updated>
    <author>
        <name>Fabio Cicerchia</name>
        <email>[% data.information.entity.0.content.contacts.email %]</email>
    </author>
    <link rel="self" type="application/rss+xml" href="http://[% HTTP_HOST %]/atom" />
    <!-- TODO: SORTING BY DATES -->
    [% FOREACH entity IN data.education.entity %]
    <entry>
        [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
        [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
        <id>http://[% HTTP_HOST %]/#[% id_title %]_[% id_company %]</id>
        <title>Education - [% entity.title.content %]</title> <!-- TODO: DYNAMIC VALUE -->
        <published>[% entity.published %]</published>
        <updated>[% entity.updated %]</updated>
        <category term="Education" /> <!-- TODO: DYNAMIC VALUE -->
    </entry>
    [% END %]
    [% FOREACH entity IN data.experience.entity %]
    <entry>
        [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
        [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
        <id>http://[% HTTP_HOST %]/#[% id_title %]_[% id_company %]</id>
        <title>Experience - [% entity.title.content %]</title> <!-- TODO: DYNAMIC VALUE -->
        <published>[% entity.published %]</published>
        <updated>[% entity.updated %]</updated>
        <category term="Experience" /> <!-- TODO: DYNAMIC VALUE -->
    </entry>
    [% END %]
</feed>
