<!DOCTYPE html>
<html lang="[% language.substr(0, 2) %]">
    <head>
        [% INCLUDE _head.tmpl
           description = data.information.entity.0.summary.content
           title       = data.information.entity.0.content.role %]
    </head>
    <body data-offset="50" data-spy="scroll" data-target=".subnav">
        [% INCLUDE partials/navbar.tmpl active = "home" %]

        <div class="container hresume">
            [% INCLUDE _header.tmpl %]

            <div class="alert alert-info">
                <button class="close" data-dismiss="alert" type="button">&times;</button>
                <strong>[% FILTER gettext %]Heads up![% END %]</strong>
                <br />
                <p>
                [% FILTER gettext %]This is my CV, but I recommend you to see in-depth and have a look on what there's behind this site just navigating through the source code on GitHub.[% END %]
                </p>
                <a href="https://github.com/fabiocicerchia/fabiocicerchia.github.com" target="_blank">[% FILTER gettext %]Go to the repository[% END %]</a>.
            </div>

            [% INCLUDE _summary.tmpl %]

            [% INCLUDE _skill.tmpl %]

            [% INCLUDE _education.tmpl %]

            [% INCLUDE _experience.tmpl %]

            [% INCLUDE _language.tmpl %]

            <footer class="footer">
                <p class="pull-right">
                    <i class="icon-chevron-up"></i>
                    <a href="javascript: window.scrollTo(0,0);">[% FILTER gettext %]Back to top[% END %]</a>
                </p>
            </footer>
        </div>
        [% INCLUDE _js.tmpl %]
    </body>
</html>