<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <base href="http://[% HTTP_HOST %]" />
        <link rel="home" href="http://[% HTTP_HOST %]" />
        <link href="http://microformats.org/profile/hcalendar" rel="profile" />
        <link href="http://microformats.org/profile/hcard" rel="profile" />
        <link href="http://microformats.org/profile/hresume" rel="profile" />
        <link href="https://plus.google.com/110733047203682160091" rel="author" title="Fabio Cicerchiaon Google+" />
        <link href="/humans.txt" rel="author" type="text/plain" />
        <link href="http://[% HTTP_HOST %]/minify/min/?f=media/css/print.css" media="print" rel="alternate stylesheet" type="text/css" title="Simple Layout (Printer Friendly)" />
        <link href="http://[% HTTP_HOST %]/minify/min/?f=media/css/main.css" media="screen" rel="stylesheet" type="text/css" title="Default Layout" />
        <link href="it" hreflang="it" rel="alternate" title="Traduzione in Italiano" />
        <link href="/" hreflang="en" rel="alternate" title="English Translation" />
        <link href="/atom" rel="alternate" title="Feed ATOM (English)" type="application/atom+xml" />
        <link href="/rss091" rel="alternate" title="Feed RSS 0.91 (English)" type="application/rss+xml" />
        <link href="/rss092" rel="alternate" title="Feed RSS 0.92 (English)" type="application/rss+xml" />
        <link href="/rss1" rel="alternate" title="Feed RSS 1.0 (English)" type="application/rss+xml" />
        <link href="/rss2" rel="alternate" title="Feed RSS 2.0 (English)" type="application/rss+xml" />
        <meta http-equiv="Default-Style" content="Default Layout" />
        <meta name="dcterms.creator" content="Fabio Cicerchia" />
        <meta content="I'm a certified web developer with the web passion, the security mania and the thirst for knowledge." name="dcterms.description" />
        <meta content="en-GB" name="dcterms.language" />
        <meta content="Curriculum Vitae" name="dcterms.subject" />
        <meta name="dcterms.title" content="Fabio Cicerchia - Web Developer" />
        <meta content="I'm a certified web developer with the web passion, the security mania and the thirst for knowledge." name="description" />
        <meta name="geo.placename" content="London" />
        <meta content="41.825;12.890" name="geo.position" />
        <meta content="GB" name="geo.country" />
        <meta content="certified, web, developer, iwa, ciw, zend, php, mysql" name="keywords" />
        <meta content="41.825, 12.890" name="ICBM" />
        <meta content="nofollow" name="robots" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Fabio Cicerchia - Web Developer</title>
    </head>

    <body class="nojs">
        <div class="hresume">
            <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                <li class="active" itemprop="itemListElement"><a accesskey="s" href="#summary" title="Summary">Summary</a></li>
                <li itemprop="itemListElement"><a accesskey="e" href="#education" title="Education">Education</a></li>
                <li itemprop="itemListElement"><a accesskey="x" href="#experience" title="Experience">Experience</a></li>
                <li itemprop="itemListElement"><a accesskey="k" href="#skills" title="Skills">Skills</a></li>
                <li class="last" itemprop="itemListElement"><a accesskey="l" href="#languages" title="Languages">Languages</a></li>
            </ul>

            <div class="vcard" itemscope="itemscope" itemtype="http://schema.org/Person" id="hcard-Fabio-Cicerchia">
                <img class="photo" height="475" itemprop="image" width="180" alt="A photograph of Fabio Cicerchia in black and white" src="/media/images/me.jpg" />
                <ul class="flags" itemscope="itemscope" itemtype="http://schema.org/ItemList">
                    <li class="first" itemprop="itemListElement"><a class="en" href="/" title="Translate to English">Translate to English</a></li>
                    <li class="last" itemprop="itemListElement"><a class="it" href="/it" title="Traduci in Italiano">Traduci in Italiano</a></li>
                </ul>
                <h1><a class="fn n" href="http://[% HTTP_HOST %]" itemprop="name" title="The URL of my web site"><span class="given-name" lang="it">Fabio</span> <span class="family-name" lang="it">Cicerchia</span> - <span class="role" itemprop="jobTitle">Web Developer</span></a></h1>
                <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                    <span class="locality" itemprop="addressLocality">London</span> <span class="country-name" itemprop="addressCountry">UK</span>
                </address>
                <ul>
                    <li><span itemprop="nationality">Italian</span></li>
                    <li><span itemprop="gender">Male</span></li>
                    <li>1986-02-09</li>
                    <li><span class="tel" itemprop="telephone">+44 07831192297</span></li>
                    <li><a class="url" itemprop="url" target="_blank" href="http://[% HTTP_HOST %]" rel="nofollow me" title="">http://[% HTTP_HOST %]</a></li>
                    <li class="hide"><a class="email" itemprop="email" href="mailto:info@fabiocicerchia.it" rel="nofollow me" title="The my email address">info@fabiocicerchia.it</a></li>
                    <li class="last">
                        <ul class="social" itemscope="itemscope" itemtype="http://schema.org/ItemList">
                            <li class="first" itemprop="itemListElement"><a href="mailto:info@fabiocicerchia.it" rel="nofollow me" title="The my email address">info@fabiocicerchia.it</a></li>
                            <li itemprop="itemListElement"><a class="my_vcard" href="/vcard" title="Download the vCard format">vCard</a></li>
                            <li itemprop="itemListElement"><a class="print" href="/print" title="Print this document">Print</a></li>
                            <li itemprop="itemListElement"><a target="_blank" class="facebook" href="https://www.facebook.com/fabio.cicerchia" title="Facebook">Facebook</a></li>
                            <li itemprop="itemListElement"><a target="_blank" class="linkedin" href="http://www.linkedin.com/in/fabiocicerchia" title="LinkedIn">LinkedIn</a></li>
                            <li itemprop="itemListElement"><a target="_blank" class="msn_messenger" href="msnim:chat?contact=fabio.cicerchia@live.it" title="MSN Messenger">MSN Messenger</a></li>
                            <li itemprop="itemListElement"><a target="_blank" class="skype" href="skype:fabio.cicerchia?call" title="Skype">Skype</a></li>
                            <li class="last" itemprop="itemListElement"><a class="help" href="#" title="Some informations...">?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <h2><a id="summary">Summary</a></h2>
            <p>
                I'm a <em>passionate</em> Web Developer and a security maniac, always looking for new <em>challenges</em> and a
                never-ending <em>know-how</em>. Since 2003 I've always been focused on <em>PHP</em> and <em>JS</em> applications and I
                found the time to certificate myself as a <em>PHP 5 Engineer</em>, <em>CIW Application Developer</em> and <em>IWA
                Web Professional</em>; apart from these, I never forgot the basics: I'm an expert using <em>bash</em> and writing complex
                <em>Regular Expressions</em>. I'm interested and involved also on <em>SEO</em>, <em>Accessibility</em> and <em>Project
                Management</em>. Lately I'm mainly focused on in-depth study of <em>MongoDB</em>, <em>Node.js</em> and <em>Python</em>.
            </p>
            <p>
                In the last years I've been daily committed on projects with the RAD framework <em>Symfony</em>, using practices like
                automated tests and always trying to use <em>bleeding edge technologies and methods</em> for my work. I also have
                on-the-battlefield experience about agile development, as, in DNSEE, we implemented some of the <em>agile techniques</em>
                (iteration planning, test-first, collective code ownership and so on).
            </p>
            <p>
                For passion, curiosity and interest I've created Bonzai (formerly known as phpGuardian), an open-source tool for
                encoding the PHP projects.
            </p>

            <dl class="main_works">
                <dt>Main projects developed</dt>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage">
                    <del itemprop="name">Evidenziati</del> <del>(<abbr title="Development">Dev</abbr>)</del>
                </dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Bonzai</span> (<abbr title="Development">Dev</abbr> &amp; <abbr title="Project Management">PM</abbr>) <a itemprop="url" target="_blank" href="http://www.bonzai-project.org" rel="nofollow" title="The URL of the the Bonzai">http://www.bonzai-project.org</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Policlinic Campus Biomedical of Rome</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.policlinicocampusbiomedico.it" rel="nofollow met" title="The URL of the the Policlinic Campus Biomedical of Rome">http://www.policlinicocampusbiomedico.it</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">San Raffaele</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.sanraffaele.it" rel="nofollow met" title="The URL of the the San Raffaele">http://www.sanraffaele.it</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Network NanoPublishing</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.nanopub.com" rel="nofollow" title="The URL of the the Network NanoPublishing">http://www.nanopub.com</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage"><span itemprop="name">Excite Network Europe</span> (<abbr title="Development">Dev</abbr>) <a itemprop="url" target="_blank" href="http://www.excite.it" rel="nofollow" title="The URL of the the Excite Network Europe">http://www.excite.it</a></dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage">
                    <del itemprop="name">StockInformatica</del>
                    <del>(<abbr title="Development">Dev</abbr> &amp;
                    <abbr title="Project Management">PM</abbr>)</del>
                </dd>
                <dd itemscope="itemscope" itemtype="http://schema.org/WebPage" class="last">
                    <del itemprop="name">ItalianCamper</del> <del>(<abbr title="Development">Dev</abbr>)</del>
                </dd>
            </dl>

            <h2><a id="education">Education</a></h2>

            <div class="vcalendar">
                <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="education vevent">
                    <h3 class="summary" itemprop="name">IWA CWP Application Developer</h3>
                    <div class="dates">
                        Wed, 27 Apr 2011 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.iwanet.org" rel="nofollow" title="International Webmaster Association"><span class="fn" itemprop="name">IWA</span></a>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">CIW Associate</li>
                        <li itemprop="itemListElement">CIW Application Developer</li>
                        <li itemprop="itemListElement" class="last">At least 2 years of work experience</li>
                    </ul>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="education vevent">
                    <h3 class="summary" itemprop="name">CIW Application Developer</h3>
                    <div class="dates">
                        Tue, 08 Feb 2011 00:00:00 +0100
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.ciwcertified.com" rel="nofollow" title="Certified Internet Webmaster"><span class="fn" itemprop="name">CIW</span></a> <span itemprop="description">Prometric Test Center "Finsa Tech S.r.l."</span>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00192</span> <span class="locality" itemprop="addressLocality">Rome</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">Fundamentals of CGI Using Perl</li>
                        <li itemprop="itemListElement" class="last">Dynamic Server Pages</li>
                    </ul>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="education vevent">
                    <h3 class="summary" itemprop="name">CIW Associate</h3>
                    <div class="dates">
                        Wed, 23 Sep 2009 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.ciwcertified.com" rel="nofollow" title="Certified Internet Webmaster"><span class="fn" itemprop="name">CIW</span></a> <span itemprop="description">Prometric Test Center "Atrak S.r.l."</span>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00142</span> <span class="locality" itemprop="addressLocality">Rome</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">Internet Business Foundation</li>
                        <li itemprop="itemListElement">Site Development Foundation</li>
                        <li itemprop="itemListElement" class="last">Network Technology Foundation</li>
                    </ul>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="education vevent">
                    <h3 class="summary" itemprop="name">Zend Certified Engineer</h3>
                    <div class="dates">
                        Wed, 25 Jun 2008 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.zend.com" rel="nofollow" title=""><span class="fn" itemprop="name">Zend</span></a>
                        <span itemprop="description">Pearson Vue Authorised Test Center "IPSIA Carlo Cattaneo"</span>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00142</span> <span class="locality" itemprop="addressLocality">Rome</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">PHP Basics</li>
                        <li itemprop="itemListElement">Functions</li>
                        <li itemprop="itemListElement">Arrays</li>
                        <li itemprop="itemListElement">Object Oriented Programming</li>
                        <li itemprop="itemListElement">Security</li>
                        <li itemprop="itemListElement">XML and Web Services</li>
                        <li itemprop="itemListElement">Strings and Patterns</li>
                        <li itemprop="itemListElement">Database and SQL</li>
                        <li itemprop="itemListElement">User Interaction (Form, Session, Cookie, HTTP Header)</li>
                        <li itemprop="itemListElement">Stream and Files</li>
                        <li itemprop="itemListElement">PHP 4 and PHP 5 Differences</li>
                        <li itemprop="itemListElement" class="last">Theory and Design</li>
                    </ul>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="education vevent">
                    <h3 class="summary" itemprop="name">ECDL Core</h3>
                    <div class="dates">
                        Mon, 19 Dec 2005 00:00:00 +0100
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.aicanet.it" rel="nofollow" title="Associazione Italiana per l'Informatica ed il Calcolo Automatico">
                        <span class="fn" itemprop="name">AICA</span></a>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00012</span> <span class="locality" itemprop="addressLocality">Guidonia Montecelio</span>
                            <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">Basic Concepts of ICT</li>
                        <li itemprop="itemListElement">Using the Computer and Managing Files</li>
                        <li itemprop="itemListElement">Word Processing</li>
                        <li itemprop="itemListElement">Spreadsheet</li>
                        <li itemprop="itemListElement">Using databases</li>
                        <li itemprop="itemListElement">Presentation Tools</li>
                        <li itemprop="itemListElement" class="last">Navigation and communication network</li>
                    </ul>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/EducationEvent" class="education vevent last">
                    <h3 class="summary" itemprop="name">Industrial Expert Technician - Computer Science Specialization Project 'ABACUS'</h3>
                    <div class="dates">
                        Mon, 04 Sep 2000 00:00:00 +0200
                        Tue, 05 Jul 2005 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.fermifrascati.it" rel="nofollow" title=""><span class="fn" itemprop="name">ITIS Enrico Fermi</span></a>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00044</span> <span class="locality" itemprop="addressLocality">Frascati</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">Italian language and literature</li>
                        <li itemprop="itemListElement">History</li>
                        <li itemprop="itemListElement">Foreign language (English)</li>
                        <li itemprop="itemListElement">Mathematics</li>
                        <li itemprop="itemListElement">Electronics and Telecommunications</li>
                        <li itemprop="itemListElement">Computer Science</li>
                        <li itemprop="itemListElement">Calculus of probability</li>
                        <li itemprop="itemListElement" class="last">Statistics and Operative Research</li>
                    </ul>
                </div>
            </div>

            <h2><a id="experience">Experience</a></h2>

            <div class="vcalendar">
                <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="experience vevent">
                    <h3 class="summary" itemprop="name">Consultant</h3>
                    <div class="dates">
                        Thu, 01 May 2003 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://[% HTTP_HOST %]" rel="nofollow me" title=""><span class="fn" itemprop="name">Fabio Cicerchia</span></a>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00036</span> <span class="locality" itemprop="addressLocality">Palestrina</span>
                            <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <div itemprop="description">
                        <p>
                            Web sites development and implementation (showcase sites and custom web applications).<br />
                            From June 2006 development and project management of Bonzai (planning, design, development and
                            maintaining).<br /> From August 2005 collaboration with the Art Director
                            Jeroen Bertsch. Realization of showcase sites with Wordpress and customized systems.
                        </p>
                    </div>
                    <dl class="main_works">
                        <dt>Main projects developed</dt>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Evidenziati</span></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Bonzai</span> <a itemprop="url" target="_blank" href="http://www.bonzai-project.org" rel="nofollow" title="The URL of the Bonzai">http://www.bonzai-project.org</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Studio Baggio</span> <a itemprop="url" target="_blank" href="http://www.studiobaggio.eu" rel="nofollow met contact acquaintance" title="The URL of the Studio Baggio">http://www.studiobaggio.eu</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Top Business Solutions</span> <a itemprop="url" target="_blank" href="http://www.tbs-srl.com" rel="nofollow met acquaintance" title="The URL of the Top Business Solutions">http://www.tbs-srl.com</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Good Night And Good Luck</span></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Comitato 'Villa di Adriano'</span> <a itemprop="url" target="_blank" href="http://www.villadiadriano.it" rel="nofollow met neighbor" title="The URL of the Comitato 'Villa di Adriano'">http://www.villadiadriano.it</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">OCE S.r.l.</span> <a itemprop="url" target="_blank" href="http://www.ocesrl.com" rel="nofollow acquaintance" title="The URL of the OCE S.r.l.">http://www.ocesrl.com</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="last"><span itemprop="name">Cilia Bus S.r.l.</span><a itemprop="url" target="_blank" href="http://www.ciliabus.it" rel="nofollow acquaintance" title="The URL of the Cilia Bus S.r.l.">http://www.ciliabus.it</a></dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="first adjacent">
                        <dt itemprop="name">Technologies</dt>
                        <dd itemprop="itemListElement">JavaScript</dd>
                        <dd itemprop="itemListElement"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></dd>
                        <dd itemprop="itemListElement">MySQL</dd>
                        <dd itemprop="itemListElement">SQLite</dd>
                        <dd itemprop="itemListElement" class="last">C</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Tools</dt>
                        <dd itemprop="itemListElement">jQuery</dd>
                        <dd itemprop="itemListElement">Prototype</dd>
                        <dd itemprop="itemListElement">Symfony</dd>
                        <dd itemprop="itemListElement">Wordpress</dd>
                        <dd itemprop="itemListElement">Zend Framework</dd>
                        <dd itemprop="itemListElement">Joomla</dd>
                        <dd itemprop="itemListElement">Silex</dd>
                        <dd itemprop="itemListElement"><abbr title="Concurrent Versions System">CVS</abbr></dd>
                        <dd itemprop="itemListElement">GIT</dd>
                        <dd itemprop="itemListElement">cUnit</dd>
                        <dd itemprop="itemListElement">phpUnit</dd>
                        <dd itemprop="itemListElement">Automake</dd>
                        <dd itemprop="itemListElement">Splint</dd>
                        <dd itemprop="itemListElement">Jenkins</dd>
                        <dd itemprop="itemListElement">Sonar</dd>
                        <dd itemprop="itemListElement" class="last">Mantis</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Techniques</dt>
                        <dd itemprop="itemListElement">Automated Build</dd>
                        <dd itemprop="itemListElement">Code Coverage</dd>
                        <dd itemprop="itemListElement">Continuous Integration</dd>
                        <dd itemprop="itemListElement">Pomodoro Technique</dd>
                        <dd itemprop="itemListElement">Profiling</dd>
                        <dd itemprop="itemListElement"><abbr title="Static Code Analysis">SCA</abbr></dd>
                        <dd itemprop="itemListElement" class="last">Unit and Functional Testing</dd>
                    </dl>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="experience vevent">
                    <h3 class="summary" itemprop="name">Web Developer</h3>
                    <div class="dates">
                        Wed, 16 Jun 2010 00:00:00 +0200
                        Fri, 30 Mar 2012 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.dnsee.com" rel="nofollow met contact" title=""><span class="fn" itemprop="name">Dnsee (Interactive Thinking S.r.l.)</span></a>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00191</span> <span class="locality" itemprop="addressLocality">Rome</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <dl class="main_works">
                        <dt>Main projects developed</dt>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Samsung S Galaxy</span></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Policlinic Campus Biomedical of Rome</span> <a itemprop="url" target="_blank" href="http://www.policlinicocampusbiomedico.it" rel="nofollow met" title="The URL of the Policlinic Campus Biomedical of Rome">http://www.policlinicocampusbiomedico.it</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="last"><span itemprop="name">San Raffaele</span> <a itemprop="url" target="_blank" href="http://www.sanraffaele.it" rel="nofollow met" title="The URL of the San Raffaele">http://www.sanraffaele.it</a></dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="first adjacent">
                        <dt itemprop="name">Technologies</dt>
                        <dd itemprop="itemListElement">JavaScript</dd>
                        <dd itemprop="itemListElement"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></dd>
                        <dd itemprop="itemListElement">MySQL</dd>
                        <dd itemprop="itemListElement">SQLite</dd>
                        <dd itemprop="itemListElement">SQL Server</dd>
                        <dd itemprop="itemListElement" class="last">Oracle</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Tools</dt>
                        <dd itemprop="itemListElement">jQuery</dd>
                        <dd itemprop="itemListElement">Symfony</dd>
                        <dd itemprop="itemListElement">Joomla</dd>
                        <dd itemprop="itemListElement">Wordpress</dd>
                        <dd itemprop="itemListElement"><abbr title="Subversion">SVN</abbr></dd>
                        <dd itemprop="itemListElement">Jira</dd>
                        <dd itemprop="itemListElement">Hudson</dd>
                        <dd itemprop="itemListElement" class="last">Alfresco</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Methodologies</dt>
                        <dd itemprop="itemListElement">SCRUM</dd>
                        <dd itemprop="itemListElement" class="last"><abbr title="eXtreme Programming">XP</abbr></dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Techniques</dt>
                        <dd itemprop="itemListElement">Automated Build</dd>
                        <dd itemprop="itemListElement">Continuous Integration</dd>
                        <dd itemprop="itemListElement">Pair Programming</dd>
                        <dd itemprop="itemListElement">Pomodoro Technique</dd>
                        <dd itemprop="itemListElement">Unit and Functional Testing</dd>
                        <dd itemprop="itemListElement" class="last">User Stories &amp; Planning Poker</dd>
                    </dl>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="experience vevent">
                    <h3 class="summary" itemprop="name">Web Developer</h3>
                    <div class="dates">
                        Wed, 02 Jan 2008 00:00:00 +0100
                        Fri, 11 Jun 2010 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.populis.com" rel="nofollow met contact" title=""><span class="fn" itemprop="name">Populis S.r.l. (Previously GoAdv S.r.l.)</span></a>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00147</span> <span class="locality" itemprop="addressLocality">Rome</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <strong>Activities:</strong>
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">Management of channels Video, Bynight, MIX and Blog of Excite</li>
                        <li itemprop="itemListElement">Creation of user management system (frontend side) of Excite</li>
                        <li itemprop="itemListElement">Maintenance of the sites of Excite Europe Network, the Network NanoPublishing and Corporate sites</li>
                        <li itemprop="itemListElement" class="last">Maintenance of a system for tracking ROI</li>
                    </ul>
                    <dl class="main_works">
                        <dt>Main projects developed</dt>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">Network NanoPublishing</span> <a itemprop="url" target="_blank" href="http://www.nanopub.com" rel="nofollow" title="The URL of the Network NanoPublishing">http://www.nanopub.com</a></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="last"><span itemprop="name">Excite Network Europe</span> <a itemprop="url" target="_blank" href="http://www.excite.it" rel="nofollow" title="The URL of the Excite Network Europe">http://www.excite.it</a></dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="first adjacent">
                        <dt itemprop="name">Technologies</dt>
                        <dd itemprop="itemListElement">JavaScript</dd>
                        <dd itemprop="itemListElement"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></dd>
                        <dd itemprop="itemListElement">MySQL</dd>
                        <dd itemprop="itemListElement">PostgreSQL</dd>
                        <dd itemprop="itemListElement" class="last">Python</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Tools</dt>
                        <dd itemprop="itemListElement">Prototype</dd>
                        <dd itemprop="itemListElement">jQuery</dd>
                        <dd itemprop="itemListElement">Wordpress</dd>
                        <dd itemprop="itemListElement">Wordpress MU</dd>
                        <dd itemprop="itemListElement">Zend Framework</dd>
                        <dd itemprop="itemListElement">Joomla</dd>
                        <dd itemprop="itemListElement"><abbr title="Concurrent Versions System">CVS</abbr></dd>
                        <dd itemprop="itemListElement"><abbr title="Subversion">SVN</abbr></dd>
                        <dd itemprop="itemListElement" class="last">Fast ESP</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Methodologies</dt>
                        <dd itemprop="itemListElement" class="last">Waterfall</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Techniques</dt>
                        <dd itemprop="itemListElement">Pair Programming</dd>
                        <dd itemprop="itemListElement" class="last">Unit and Functional Testing</dd>
                    </dl>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="experience vevent">
                    <h3 class="summary" itemprop="name">Web / Software Developer</h3>
                    <div class="dates">
                        Thu, 24 May 2007 00:00:00 +0200
                        Mon, 31 Dec 2007 00:00:00 +0100
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <del class="fn" itemprop="name">ADQ S.p.A.</del>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00197</span> <span class="locality" itemprop="addressLocality">Rome</span> <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                    <div itemprop="description">
                        <p>
                            Design and development of some web sites, applications web-based and desktop.
                        </p>
                    </div>
                    <dl class="main_works">
                        <dt>Main projects developed</dt>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">StockInformatica</span></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><span itemprop="name">ItalianCamper</span></dd>
                        <dd itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="last"><span itemprop="name">NoPayZone</span></dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="first adjacent">
                        <dt itemprop="name">Technologies</dt>
                        <dd itemprop="itemListElement"><abbr title="PHP: Hypertext Preprocessor">PHP</abbr></dd>
                        <dd itemprop="itemListElement"><abbr title="Active Server Pages">ASP</abbr></dd>
                        <dd itemprop="itemListElement">MySQL</dd>
                        <dd itemprop="itemListElement" class="last">Visual Basic</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Tools</dt>
                        <dd itemprop="itemListElement">osCommerce</dd>
                        <dd itemprop="itemListElement" class="last">Wordpress</dd>
                    </dl>
                    <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                        <dt itemprop="name">Methodologies</dt>
                        <dd itemprop="itemListElement" class="last">Waterfall</dd>
                    </dl>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="experience vevent">
                    <h3 class="summary" itemprop="name">Web Developer</h3>
                    <div class="dates">
                        Sun, 02 Oct 2005 00:00:00 +0200
                        Sun, 01 Oct 2006 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <del class="fn" itemprop="name">The Italian Touch</del>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00036</span> <span class="locality" itemprop="addressLocality">Palestrina</span>
                            <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                </div>

                <div itemscope="itemscope" itemtype="http://schema.org/BusinessEvent" class="experience vevent last">
                    <h3 class="summary" itemprop="name">Hardware / Software Consultant</h3>
                    <div class="dates">
                        Tue, 01 Jun 2004 00:00:00 +0200
                        Sat, 01 Oct 2005 00:00:00 +0200
                    </div>
                    <div class="contact" itemscope="itemscope" itemtype="http://schema.org/Organization">
                        <a class="url" itemprop="url" target="_blank" href="http://www.bonito.it" rel="nofollow met contact neighbor" title=""><span class="fn" itemprop="name">Studio Bonito</span></a>
                        <address class="adr" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span class="postal-code" itemprop="postalCode">00036</span> <span class="locality" itemprop="addressLocality">Palestrina</span>
                            <span class="country-name" itemprop="addressCountry">Italy</span>
                        </address>
                    </div>
                </div>
            </div>

            <h2><a id="skills">Skills</a></h2>

            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="first">
                <dt itemprop="name">Operative Systems</dt>
                <dd itemprop="itemListElement">Good knowledge of: Microsoft Windows, Linux Mandriva, Linux Fedora, Linux Ubuntu</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Office Suites</dt>
                <dd itemprop="itemListElement">Good knowledge of: Microsoft Office, Oracle OpenOffice</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Web Development</dt>
                <dd itemprop="itemListElement">Excellent knowledge of: <abbr title="HyperText Markup Language">HTML</abbr> 4, <abbr title="eXtensible HyperText Markup Language">XHTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, <abbr title="PHP: Hypertext Preprocessor">PHP</abbr></dd>
                <dd itemprop="itemListElement">Good knowledge of: <abbr title="HyperText Markup Language">HTML</abbr> 5, JavaScript, <abbr title="Asynchronous Javascript And XML">AJAX</abbr>, <abbr title="eXtensible Markup Language">XML</abbr>, <abbr title="Structured Query Language">SQL</abbr></dd>
                <dd itemprop="itemListElement">Basic knowledge of: <abbr title="Microsoft's Visual Basic Scripting Edition">VBScript</abbr>, <abbr title="Active Server Pages">ASP</abbr>, ASP.net, Perl</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Graphics</dt>
                <dd itemprop="itemListElement">Basic knowledge of: <abbr title="GNU Image Manipulation Program">GIMP</abbr>, Inkscape, Adobe Illustrator</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Software Engineering</dt>
                <dd itemprop="itemListElement">Basic knowledge of: Visual Basic, Visual Basic.net, C, C++, C#, Python</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Web Servers</dt>
                <dd itemprop="itemListElement">Good knowledge of: Microsoft <abbr title="Personal Web Server">PWS</abbr>, Microsoft <abbr title="Internet Information Services">IIS</abbr>, Apache</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Database</dt>
                <dd itemprop="itemListElement">Good knowledge of: MySQL</dd>
                <dd itemprop="itemListElement">Basic knowledge of: SQLite, PostgreSQL, SQL Server, Oracle</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">CMS &amp; Framework</dt>
                <dd itemprop="itemListElement">Good Knowledge of: jQuery, Symfony, Wordpress</dd>
                <dd itemprop="itemListElement">Basic knowledge of: Prototype, Wordpress MU, Joomla, Zend Framework, Silex</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent">
                <dt itemprop="name">Common Development Tools</dt>
                <dd itemprop="itemListElement">Good Knowledge of: <abbr title="Concurrent Versions System">CVS</abbr>, <abbr title="Subversion">SVN</abbr>, GIT, XDebug, <abbr title="GNU Debugger">GDB</abbr>, <abbr title="Data Display Debugger">DDD</abbr>, SimpleTest, phpUnit, Selenium, Jira</dd>
                <dd itemprop="itemListElement">Basic knowledge of: cUnit, Automake, Valgrind, Splint, phpDocumentor, Doxygen, Jenkins, Sonar, Mantis, Eclipse, NetBeans, Visual Web Developer Express, Hudson, Alfresco</dd>
            </dl>
            <dl itemscope="itemscope" itemtype="http://schema.org/ItemList" class="adjacent last">
                <dt itemprop="name">Theory</dt>
                <dd itemprop="itemListElement">Basic knowledge of: Accessibility, Agile Methodologies, Cryptography, Project Management, Usability, Web Security</dd>
            </dl>

            <h2><a id="languages">Languages</a></h2>

            <dl itemscope="itemscope" itemtype="http://schema.org/Language" class="">
                <dt itemprop="name">Italian</dt>
                <dd itemprop="description">Mother Tongue</dd>
            </dl>

            <dl itemscope="itemscope" itemtype="http://schema.org/Language" class="adjacent last">
                <dt itemprop="name">English</dt>
                <dd itemprop="description" class="last">
                    <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li itemprop="itemListElement">Listening: A2</li>
                        <li itemprop="itemListElement">Reading: B1</li>
                        <li itemprop="itemListElement">Spoken interaction: A2</li>
                        <li itemprop="itemListElement">Spoken production: A2</li>
                        <li itemprop="itemListElement" class="last">Writing: A2</li>
                    </ul>
                </dd>
            </dl>
        </div>

        <div id="info">
            <h2>Some informations...</h2>

            <dl>
                <dt>PAGE GENERATION</dt>
                <dd class="last"><a href="http://www.php.net" target="_blank" title="PHP: Hypertext Preprocessor">PHP 5.3.8</a></dd>
            </dl>
            <dl>
                <dt>MAIN OUTPUT FORMAT</dt>
                <dd class="last"><a href="http://www.w3.org/XML" target="_blank" title="Extensible Markup Language (XML)">XML</a></dd>
            </dl>
            <dl>
                <dt>STYLESHEETS</dt>
                <dd><a href="http://www.w3.org/TR/CSS" target="_blank" title="Cascading Style Sheets (CSS) Snapshot 2010">CSS 3</a></dd>
                <dd class="last"><a href="http://www.w3.org/TR/css-mobile" target="_blank" title="CSS Mobile Profile 2.0">CSS Mobile Profile 2.0</a></dd>
            </dl>
            <dl>
                <dt>VISUAL EFFECTS</dt>
                <dd>JavaScript</dd>
                <dd class="last"><a href="http://jquery.com" target="_blank" title="jQuery: The Write Less, Do More, JavaScript Library">jQuery</a></dd>
            </dl>
            <dl>
                <dt>ELABORATED OUTPUT FORMATS</dt>
                <dd><a href="http://www.w3.org/TR/html5" target="_blank" title="HTML5">HTML 5</a></dd>
                <dd><a href="http://www.imc.org/pdi/vcard-21.txt" target="_blank" title="The Electronic Business Card">vCard 2.1</a></dd>
                <dd><a href="http://www.w3.org/TR/xhtml-basic" target="_blank" title="XHTML™ Basic 1.1 - Second Edition">XHTML Basic 1.1</a></dd>
                <dd><a href="http://www.w3.org/TR/xhtml1" target="_blank" title="XHTML™ 1.0 The Extensible HyperText Markup Language (Second Edition)">XHTML 1.0</a></dd>
                <dd><a href="http://www.ietf.org/rfc/rfc4287.txt" target="_blank" title="The Atom Syndication Format">ATOM</a></dd>
                <dd class="last">RSS (<a href="http://backend.userland.com/rss091" target="_blank" title="RSS 0.91">0.91</a>, <a href="http://backend.userland.com/rss092" target="_blank" title="RSS 0.92">0.92</a>, <a href="http://web.resource.org/rss/1.0/spec" target="_blank" title="RDF Site Summary (RSS) 1.0">1.0</a>, <a href="http://cyber.law.harvard.edu/rss/rss.html" target="_blank" title="RSS 2.0 Specification (RSS 2.0 at Harvard Law)">2.0</a>)</dd>
            </dl>
            <dl>
                <dt>WEB SEMANTICS</dt>
                <dd><a href="http://dublincore.org" target="_blank" title="DCMI Home: Dublin Core® Metadata Initiative (DCMI)">Dublin Core</a></dd>
                <dd>GeoURL</dd>
                <dd><a href="http://www.w3.org/TR/microdata" target="_blank" title="HTML Microdata">Microdata</a></dd>
                <dd><a href="http://microformats.org" target="_blank">Microformats</a> (<a href="http://microformats.org/wiki/hcalendar" target="_blank" title="hCalendar 1.0 · Microformats Wiki">hCalendar</a>, <a href="http://microformats.org/wiki/hcard" target="_blank" title="hCard 1.0 · Microformats Wiki">hCard</a>, <a href="http://microformats.org/wiki/hresume" target="_blank" title="hResume · Microformats Wiki">hResume</a>, <a href="http://microformats.org/wiki/rel-home" target="_blank" title="rel=&quot;home&quot; · Microformats Wiki">rel-home</a>, <a href="http://microformats.org/wiki/rel-nofollow" target="_blank" title="rel=&quot;nofollow&quot; · Microformats Wiki">rel-nofollow</a>)</dd>
                <dd class="last"><a href="http://gmpg.org/xfn" target="_blank" title="XFN - XHTML Friends Network">XFN</a></dd>
            </dl>
            <dl>
                <dt>OPTIMIZATION</dt>
                <dd>Accessibility</dd>
                <dd>Page Load</dd>
                <dd class="last">SEO</dd>
            </dl>
            <dl>
                <dt>OTHER TECHNLOGIES</dt>
                <dd><a href="http://www.w3.org/TR/xmlbase" target="_blank" title="XML Base (Second Edition)">XML Base</a></dd>
                <dd><a href="http://www.w3.org/TR/xpath" target="_blank" title="XML Path Language (XPath)">XPath 1.0</a></dd>
                <dd class="last"><a href="http://www.w3.org/TR/xslt" target="_blank" title="XSL Transformations (XSLT)">XSLT 1.0</a></dd>
            </dl>
            <dl>
                <dt>VALIDATION</dt>
                <dd>Accessibility (<a href="http://www.section508.gov" target="_blank" title="Section 508">Section 508</a>, <a href="http://www.pubbliaccesso.gov.it/normative/law_20040109_n4.htm" target="_blank" title="PubbliAccesso - Normative - Law n. 4, January 9, 2004">Stanca Act</a>, <a href="http://www.w3.org/TR/WCAG10/" target="_blank" title="Web Content Accessibility Guidelines 1.0">WCAG 1.0</a>, <a href="http://www.w3.org/TR/WCAG/" target="_blank" title="Web Content Accessibility Guidelines (WCAG) 2.0">WCAG 2.0</a>)</dd>
                <dd>CSS Mobile</dd>
                <dd>HTML 5</dd>
                <dd>Links</dd>
                <dd>Page Load (<a href="http://developer.yahoo.com/yslow" target="_blank" title="Yahoo! YSlow for Firefox">YSlow</a>, <a href="http://code.google.com/speed/page-speed/" target="_blank" title="Page Speed Home">Page Speed</a>)</dd>
                <dd>XHTML 1.0 Strict</dd>
                <dd class="last">XHTML Basic 1.0</dd>
            </dl>
            <dl>
                <dt>BROWSER TESTED</dt>
                <dd><a href="http://www.google.com/chrome" target="_blank" title="Google Chrome">Google Chrome</a></dd>
                <dd><a href="http://www.mozilla.org/firefox" target="_blank" title="Mozilla Firefox">Mozilla Firefox</a></dd>
                <dd><a href="http://www.seamonkey-project.org" target="_blank" title="The SeaMonkey® Project">Mozilla Seamonkey</a></dd>
                <dd><a href="http://windows.microsoft.com/en-GB/internet-explorer/products/ie/home" target="_blank" title="Internet Explorer - Web Browser for Windows (UK)">Internet Explorer</a> (7, 8, 9)</dd>
                <dd><a href="http://www.apple.com/safari" target="_blank" title="Apple - Safari - Browse the web in smarter, more powerful ways.">Safari</a></dd>
                <dd><a href="http://lynx.isc.org" target="_blank" title="Lynx source distribution directory">Lynx</a></dd>
                <dd class="last"><a href="http://www.opera.com" target="_blank" title="Opera browser | Faster &amp; safer internet | Free download">Opera</a></dd>
            </dl>
            <dl>
                <dt>OS TESTED</dt>
                <dd><a href="http://www.linux-foundation.org" target="_blank" title="The Linux Foundation">Linux</a> (<a href="http://www.ubuntu.com/" target="_blank" title="Homepage | Ubuntu">Ubuntu</a>)</dd>
                <dd class="last"><a href="http://windows.microsoft.com" target="_blank" title="Home Windows - Microsoft Windows">Microsoft Windows</a></dd>
            </dl>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            document.getElementsByTagName('body')[0].removeAttribute('class');
            document.getElementsByTagName('nav')[0].style.display = 'none';
            document.getElementsByTagName('header')[0].style.marginLeft = '-10em';
            sections = document.getElementsByTagName('section');
            for(i = 0; i < sections.length; i++) {
                sections[i].style.display = 'none';
            }

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-439670-5']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

            function downloadJSAtOnload() {
                var element = document.createElement("script");
                element.src = "/minify/min/?f=media/js/jquery.min.js,media/js/jquery-ui.min.js,media/js/script.js";
                document.getElementsByTagName('body')[0].appendChild(element);
            }

            if (window.addEventListener) {
                window.addEventListener("load", downloadJSAtOnload, false);
            } else if (window.attachEvent) {
                window.attachEvent("onload", downloadJSAtOnload);
            } else {
                window.onload = downloadJSAtOnload;
            }
            //]]>
        </script>
        <noscript>
            <div id="nojs">Your browser does not support JavaScript. Do not worry, this page is thinked to work pretty fine also without JavaScript ;)</div>
        </noscript>
    </body>
</html>
