<!DOCTYPE html>
<html lang="en">
    <head>
        [% INCLUDE _head.tmpl %]
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50" class="nojs">
        <div class="container hresume">
            <header class="jumbotron subhead" id="overview">
                <img src="/media/images/logo_new.png" />
                <h1>Fabio Cicerchia</h1>
                <p class="lead">Senior Web Developer - ZCE &amp; IWA CWP</p>
                <div class="subnav">
                    <ul class="nav nav-pills" itemscope="itemscope" itemtype="http://schema.org/ItemList">
                        <li class="brand">Fabio Cicerchia</li>
                        <li itemprop="itemListElement"><a accesskey="s" href="#summary" title="Summary">Summary</a></li>
                        <li itemprop="itemListElement"><a accesskey="k" href="#skills" title="Skills">Skills</a></li>
                        <li itemprop="itemListElement"><a accesskey="e" href="#education" title="Education">Education</a></li>
                        <li itemprop="itemListElement"><a accesskey="x" href="#experience" title="Experience">Experience</a></li>
                        <li itemprop="itemListElement"><a accesskey="l" href="#languages" title="Languages">Languages</a></li>
                    </ul>
                </div>
            </header>

            [% INCLUDE _summary.tmpl %]
            [% INCLUDE _skill.tmpl %]
            [% INCLUDE _education.tmpl %]
            [% INCLUDE _experience.tmpl %]
            [% INCLUDE _language.tmpl %]

            <footer class="footer">
                <p class="pull-right"><a href="#">Back to top</a></p>
            </footer>
        </div>
        [% INCLUDE _js.tmpl %]
    </body>
</html>
