[% USE date %]

<?xml version="1.0" encoding="UTF-8"?>
<rss version="0.92">
    <channel>
        <title>Fabio Cicerchia - [% data.information.entity.0.content.role %]</title>
        <link>http://[% HTTP_HOST %]</link>
        <description>[% data.information.entity.0.summary.content %]</description>
        <webMaster>[% data.information.entity.0.content.contacts.email %] (Fabio Cicerchia)</webMaster>
        <pubDate>[% date.format(last_modified, "%a, %d %b %Y %H:%M:%S GMT") %]</pubDate>
        <language>[% language %]</language>
        <rating />
        <docs>http://backend.userland.com/rss092</docs>
        <!-- TODO: Sorting by date. -->
        [% FOREACH entity IN data.education.entity %]
        <item>
            <title>[% FILTER gettext %]Education[% END %] - [% entity.title.content %]</title>
            [% time = entity.published | replace('T', ' ') | replace('Z', '') %]
            <pubDate>[% date.format(time, "%a, %d %b %Y %H:%M:%S GMT") %]</pubDate>
            [% time = entity.updated | replace('T', ' ') | replace('Z', '') %]
            <lastBuildDate>[% date.format(time, "%a, %d %b %Y %H:%M:%S GMT") %]</lastBuildDate>
            <description></description>
            <category>[% FILTER gettext %]Education[% END %]</category>
        </item>
        [% END %]
        [% FOREACH entity IN data.experience.entity %]
        <item>
            <title>[% FILTER gettext %]Experience[% END %] - [% entity.title.content %]</title>
            [% time = entity.published | replace('T', ' ') | replace('Z', '') %]
            <pubDate>[% date.format(time, "%a, %d %b %Y %H:%M:%S GMT") %]</pubDate>
            [% time = entity.updated | replace('T', ' ') | replace('Z', '') %]
            <lastBuildDate>[% date.format(time, "%a, %d %b %Y %H:%M:%S GMT") %]</lastBuildDate>
            <description></description>
            <category>[% FILTER gettext %]Experience[% END %]</category>
        </item>
        [% END %]
    </channel>
</rss>
