<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns="http://purl.org/rss/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <channel rdf:about="http://[% HTTP_HOST %]/[% language.substr(0, 2) %]">
        <title>Fabio Cicerchia - [% data.information.entity.0.content.role %]</title>
        <link>http://[% HTTP_HOST %]/[% language.substr(0, 2) %]</link>
        <description>[% data.information.entity.0.summary.content %]</description>
        <items>
            <rdf:Seq>
                [% FOREACH entity IN data.education.entity %]
                    [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                    [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                <rdf:li resource="http://[% HTTP_HOST %]/[% language.substr(0, 2) %]#[% id_title %]_[% id_company %]" />
                [% END %]
                [% FOREACH entity IN data.experience.entity %]
                    [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                    [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
                <rdf:li resource="http://[% HTTP_HOST %]/[% language.substr(0, 2) %]#[% id_title %]_[% id_company %]" />
                [% END %]
            </rdf:Seq>
        </items>
    </channel>
    [% FOREACH entity IN data.education.entity %]
        [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
        [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
    <item rdf:about="http://[% HTTP_HOST %]/[% language.substr(0, 2) %]#[% id_title %]_[% id_company %]">
        <title>[% FILTER gettext %]Education[% END %] - [% entity.title.content %]</title>
        <link>http://[% HTTP_HOST %]/[% language.substr(0, 2) %]#[% id_title %]_[% id_company %]</link>
        <description></description>
    </item>
    [% END %]
    [% FOREACH entity IN data.experience.entity %]
        [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
        [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
    <item rdf:about="http://[% HTTP_HOST %]/[% language.substr(0, 2) %]#[% id_title %]_[% id_company %]">
        <title>[% FILTER gettext %]Experience[% END %] - [% entity.title.content %]</title>
        <link>http://[% HTTP_HOST %]/[% language.substr(0, 2) %]#[% id_title %]_[% id_company %]</link>
        <description></description>
    </item>
    [% END %]
</rdf:RDF>