<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>Fabio Cicerchia - [% data.information.entity.0.content.role %]</title>
        <link>http://[% HTTP_HOST %]</link>
        <description>[% data.information.entity.0.summary.content %]</description>
        <language>[% language %]</language>
        <webMaster>[% data.information.entity.0.content.contacts.email %] (Fabio Cicerchia)</webMaster>
        <pubDate>[% date.format(last_modified, "%a, %d %b %Y %H:%M:%S GMT") %]</pubDate>
        <docs>http://cyber.law.harvard.edu/rss/rss.html</docs>
        <ttl>1440</ttl>
        <rating />
        <atom:link href="http://[% HTTP_HOST %]/rss2" rel="self" type="application/rss+xml" />
        <!-- TODO: Sorting by date. -->
        [% FOREACH entity IN data.education.entity %]
        <item>
            <title>Education - [% entity.title.content %]</title><!-- TODO: Convert to a dynamic value. -->
            <description></description>
            [% time = entity.published | replace('T', ' ') | replace('Z', '') %]
            <pubDate>[% date.format(time, "%a, %d %b %Y %H:%M:%S GMT") %]</pubDate>
            [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            <guid isPermaLink="true">http://[% HTTP_HOST %]/#[% id_title %]_[% id_company %]</guid>
            <category>Education</category><!-- TODO: Convert to a dynamic value. -->
        </item>
        [% END %]
        [% FOREACH entity IN data.experience.entity %]
        <item>
            <title>Experience - [% entity.title.content %]</title><!-- TODO: Convert to a dynamic value. -->
            <description></description>
            [% time = entity.published | replace('T', ' ') | replace('Z', '') %]
            <pubDate>[% date.format(time, "%a, %d %b %Y %H:%M:%S GMT") %]</pubDate>
            [% id_title = entity.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            [% id_company = entity.content.company.title.content | lower | replace('[^a-z0-9 ]', '') | replace(' ', '_') %]
            <guid isPermaLink="true">http://[% HTTP_HOST %]/#[% id_title %]_[% id_company %]</guid>
            <category>Experience</category><!-- TODO: Convert to a dynamic value. -->
        </item>
        [% END %]
    </channel>
</rss>
