BEGIN:VCARD
VERSION:2.1
N;CHARSET=UTF-8:Fabio Cicerchia
FN;CHARSET=UTF-8:Fabio Cicerchia - [% data.information.entity.0.content.role %]
ORG;CHARSET=UTF-8:[% data.experience.entity.0.content.company.title.content %];[% data.experience.entity.0.content.company.address.country %]
ADR;TYPE=WORK,POSTAL;CHARSET=UTF-8:;;;[% data.experience.entity.0.content.company.address.city %];;[% data.experience.entity.0.content.company.address.postalcode %];[% data.experience.entity.0.content.company.address.country %]
ADR;TYPE=HOME,POSTAL;CHARSET=UTF-8:;;;[% data.information.entity.0.content.address.city %];;;[% data.information.entity.0.content.address.country %]
TEL;TYPE=CELL,VOICE:[% data.information.entity.0.content.telephone %]
EMAIL;TYPE=PREF,INTERNET:[% data.information.entity.0.content.contacts.email %]
URL;TYPE=HOME:http://[% HTTP_HOST %]
TITLE;CHARSET=UTF-8:[% data.experience.entity.0.title.content %]
URL;TYPE=WORK:[% data.experience.entity.0.content.company.link.href %]
BDAY:[% data.information.entity.0.content.birthday %]
END:VCARD
