<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include 'partials/header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ entity.title }}</title>
        {% include 'partials/publishing.twig' %}

        <content>
            {% include 'partials/company.twig' with {'input': entity} only %}

            {% if entity.activities is defined %}
            <activities>
                {% for activity in entity.activities %}
                <activity>{{ activity }}</activity>
                {% endfor %}
            </activities>
            {% endif %}
        </content>
    </entity>
    {% endfor %}
</entities>
