a, a * {
    color:              #006680;
    cursor:             pointer;
}
a:hover, a:hover * {
    color:              #7FB2BF;
}

div.vevent .dates {
    float:              right;
}

body {
    line-height:        1.6em;
}

p {
    padding:            0 1em;
    text-align:         justify;
}

#overview img {
    float:              left;
    margin-right:       1.5em;
}

.subnav {
    width:              86%;
    margin:             0 0 0 auto;
}

.subnav-fixed {
    top:                0;
    width:              100%;
}

.subnav .brand {
    display:            none;
}

.subnav-fixed .brand {
    display:            block;
    font-size:          1.2em;
    font-weight:        bold;
    padding:            8px 20px 8px 13px;
}

section {
    padding-top:        1em;
}

body {
    padding-top:        3em;
}

dl {
    border-top:         0.1em dotted #CCC;
    margin:             1em 0em 0em 0em;
    padding-top:        0.8em;
}

dl.first {
    border:             0px;
    margin-top:         0em;
}

dl dt, dl dd {
    display:            inline-block;
    padding-right:      0.3em;
}

dl dd:after {
    content:            ", ";
}

dl dt {
    font-weight:        bold;
}

dt:before {
    color:              #CCC;
    content:            "» ";
}

dl dt:after {
    content:            ": ";
}

dl dd.last:after {
    content:            ".";
}

/*
div.vevent ul li {
    display:            inline-block;
}

div.vevent ul li:after {
    content:            ", ";
}

div.vevent ul li.last:after {
    content:            ".";
}
*/
