<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta charset="utf-8" />
<base href="http://[% HTTP_HOST %]" />
<link rel="home" href="http://[% HTTP_HOST %]" />
<link href="http://microformats.org/profile/hcalendar" rel="profile" />
<link href="http://microformats.org/profile/hcard" rel="profile" />
<link href="http://microformats.org/profile/hresume" rel="profile" />
<link href="https://plus.google.com/110733047203682160091" rel="author" title="[% FILTER gettext %]Fabio Cicerchia on Google+[% END %]" />
<link href="/humans.txt" rel="author" type="text/plain" />
<link href="/minified.css" rel="stylesheet" type="text/css" />
[% IF data.language %]
[% FOREACH entity IN data.language.entity %]
[% short_code = entity.content.code.short %]
<link href="/[% IF short_code != "en" %][% short_code %][% END %]" hreflang="[% short_code %]" rel="alternate" title="[% entity.title.content %]" />
[% END %]
[% END %]
[% feeds = ['atom', 'rss091', 'rss091', 'rss1', 'rss2'] %]
[% short_code = language.substr(0, 2) %]
[% FOREACH feed IN feeds %]
<link href="/[% IF short_code != "en" %][% short_code %]/[% END %][% feed %]" hreflang="[% short_code %]" rel="alternate" title="Feed [% feed FILTER upper %] ([% short_code FILTER upper %])" type="application/atom+xml" />
[% END %]
<meta content="Fabio Cicerchia" name="dcterms.creator" />
<meta content="[% description | replace("\n", " ") | replace("[.].*", ".") %]" name="dcterms.description" />
<meta content="[% language %]" name="dcterms.language" />
<meta content="Curriculum Vitae" name="dcterms.subject" />
<meta content="Fabio Cicerchia - [% title %]" name="dcterms.title" />
<meta content="[% description | replace("\n", " ") | replace("[.].*", ".") %]" name="description" />
[% IF data.information %]
<meta content="[% data.information.entity.0.content.address.city.content %]" name="geo.placename" />
<meta content="[% data.information.entity.0.content.address.coordinates.content %]" name="geo.position" />
<meta content="[% data.information.entity.0.location.country_code %]" name="geo.country" />
<meta content="[% data.information.entity.0.content.address.coordinates.content %]" name="ICBM" />
[% END %]
<meta content="certified, iwa, ciw, zend, web, developer, experience, analysis, testing, programming, technologies, development, php, javascript, code, framework" name="keywords" />
<meta content="nofollow" name="robots" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>Fabio Cicerchia - [% title %]</title>
