<section id="languages">
    <div class="page-header">
        <h2>[% FILTER gettext %]Languages[% END %]</h2>
    </div>

    <div class="row">
        <div class="span12 vcalendar">
            <div class="row-fluid">
                <div class="span12 experience vevent" itemscope="itemscope" itemtype="http://schema.org/BusinessEvent">
                    [% FOREACH entity IN data.language.entity %]
                    <div class="span6" itemscope="itemscope" itemtype="http://schema.org/Language">
                        <h3 class="summary" itemprop="name">
                            <em class="icon-flag"></em>
                            [% entity.title.content %]
                        </h3>
                        [% IF entity.content.skills.0.level == "C2" %]
                        <p itemprop="description">[% FILTER gettext %]Mother Tongue[% END %]</p>
                        [% ELSE %]
                        <div itemprop="description">
                            <ul itemscope="itemscope" itemtype="http://schema.org/ItemList">
                                [% FOREACH skill IN entity.content.skills %]
                                <li itemprop="itemListElement">
                                    [% skill.title.content %]: [% skill.level %]
                                </li>
                                [% END %]
                            </ul>
                        </div>
                        [% END %]
                    </div>
                    [% END %]
                </div>
            </div>
        </div>
    </div>
</section>
